# dependencies
node_modules/

# build output
dist/

# environment
.env
.env.production

# astro
.astro/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Netlify
.netlify/

# archivos de cliente que no van al repo
src/components/layout/rocio-de-angel-astro-project.zip
